/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  font-family: 'Libre Baskerville', serif;
  background: #090d00;
  color: rgba(255, 255, 255, .25);
  text-align: center;
  margin: 0;
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer {
  font-family: sans-serif;
  font-size: 18px;
  margin: 15px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer img {
  width: 32px;
  margin: 0 10px;
}

footer small {
  color: rgba(200, 200, 200, 1);
}

.shadow-text {
  color: rgba(232, 106, 4, 1);
  text-shadow: 0.9px 1px 1px rgba(10, 180, 180, .7);
}

.input-text:focus {
  color: rgba(232, 106, 4, 1);
}

.input-text {
  font-size: 32px;
  color: rgba(232, 10, 0, .8);
}

.results p {
  text-transform: uppercase;
  letter-spacing: .5em;
  /*display: inline-block;*/
  border: 4px double rgba(255, 255, 255, .25);
  padding: 1.5em 0;
  /*position: absolute;*/
  top: 18%;
  left: 50%;
  width: 40em;
  /*margin: 0 0 0 -20em;*/
}

.results p span {

  word-break: break-all;
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, .5);

  /* Clip Background Image */
  background-image: url('http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png');
  background-repeat: repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;

}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
